In [1]:
import os
import pandas as pd

folder_path = 'data/'

dfs = []

for filename in os.listdir(folder_path):
    if filename.endswith(".csv"):
        file_path = os.path.join(folder_path, filename)
        
        df = pd.read_csv(file_path)
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.to_csv('combined_file.csv', index=False)

print("Все файлы объединены в combined_file.csv")

C:\Users\gusit\AppData\Local\Temp\ipykernel_17696\35417421.py:20: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(dfs, ignore_index=True)

Все файлы объединены в combined_file.csv

In [7]:
combined_df.drop("User",axis=1,inplace=True)
combined_df.drop("Time",axis=1,inplace=True)

In [8]:
combined_df[:500]

                                               Message
0    this is the problem with d1 rewards no consuma...
1    imagine doing this on a proper road to glory k...
2                    can someone help me with trading
3                        5110 people in here pogchamp
4    just chuck a few rare consumable packs in the ...
..                                                 ...
495                                        baby blanc
496                 it's so good for first time shots
497                              drop pogba for kante
498                                   grind for viera
499                                     use drop back

[500 rows x 1 columns]